<a class="path-list-item__link" href="#path/<%= _id %>">
    <div class="path-list-item__col">
        <img class="path-list-item__companion-picture" src="images/user-black.svg" alt="<%= companion %>">
    </div>
    <div class="path-list-item__col path-list-item__col--content">
        <h2 class="path-list-item__companion"><%= companion %></h2>
        <p class="path-list-item__adress">
            Départ : <strong><%= start.adress %></strong>
        </p>
        <p class="path-list-item__adress">
            Arrivé : <strong><%= end.adress %></strong>
        </p>
    </div>
</a>
