<div id="modalInner" class="modal__inner">
    <h1 class="modal__title">Qui voulez-vous inscrire ?</h1>
    <ul class="children-list">
        <% _.each(childrens, function(children) { %>
        <li class="children-list-item">
            <a href="#" class="children-list-item__link" data-children-id="<%= children._id %>">
                <p class="children-list-item__name"><span class="children-list-item__name-inner"><%= children.firstname +=' ' %><%= children.lastname %></span>
                </p>
            </a>
        </li>
        <% }); %>
    </ul>
    <p id="modalMessage" class="modal__message modal__message--error"></p>
    <div class="btn-wrapper">
        <a href="#" id="bookBtn" class="btn">Réserver !</a>
    </div>
</div>
<div id="modalOverlay" class="modal__overlay"></div>