<article class="page page--add-children">
    <form class="form" role="form">
        <div class="form-item">
            <div class="form-item__col">
                <input type="text" class="input input--text" name="firstname" id="firstname" placeholder="Prénom">
            </div>
            <div class="form-item__col">
                <input type="text" class="input input--text" name="lastname" id="lastname" placeholder="Nom">
            </div>
        </div>
        <div class="form-item">
            <input type="text" class="input input--text" name="birthdate" id="birthdate"
                   placeholder="23/04/2010">
        </div>
        <div class="form-item form-item--submit">
            <button type="submit" class="btn" id="add">Ajouter un enfant</button>
        </div>
    </form>
</article>