<article class="page page--historical">
    <section id="pathListWrapper" class="path-list-wrapper"></section>
    <div class="btn-wrapper">
        <a href="#path" id="goToPathBtn" class="btn">Trouver un trajet</a>
    </div>
</article>