<article class="page page--login">
    <h1 class="page__title">Connexion</h1>
    <form class="form form--login" role="form">
        <div class="form-item">
            <input type="text" class="input input--text" name="login" id="login" placeholder="Pseudo">
        </div>
        <div class="form-item">
            <input type="password" class="input input--text" name="password" id="password"
                   placeholder="Mot de passe">
        </div>
        <div class="form-item form-item--submit">
            <button type="submit" class="btn" id="loginBtn">Connexion</button>
        </div>
        <p id="messageWrapper" class="form-message form-message__error"></p>
    </form>

    <a href="#signIn" class="page__informations">Créer un compte</a>
</article>