<ul class="menu__list">
    <li class="menu__item">
        <a href="#historical" class="menu-link">
            <svg class="menu-link__logo" viewBox="0 0 36 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <title>Historique</title>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-28.000000, -587.000000)">
                        <g id="Menu" transform="translate(0.000000, 574.000000)">
                            <g id="Historique" transform="translate(32.000000, 15.000000)">
                                <path d="M21.875,9.625 C21.391125,9.625 21,9.233 21,8.75 L21,3.940125 C21,3.21475 21.58975,2.625 22.315125,2.625 L27.125,2.625 C27.608875,2.625 28,3.017 28,3.5 C28,3.983 27.608875,4.375 27.125,4.375 L22.75,4.375 L22.75,8.75 C22.75,9.233 22.358875,9.625 21.875,9.625 L21.875,9.625 Z"
                                      id="Shape"></path>
                                <path d="M14,28 C6.28075,28 0,21.71925 0,14 C0,6.28075 6.28075,0 14,0 C14.483,0 14.875,0.392 14.875,0.875 C14.875,1.358 14.483,1.75 14,1.75 C7.245,1.75 1.75,7.245 1.75,14 C1.75,20.755 7.245,26.25 14,26.25 C20.755,26.25 26.25,20.755 26.25,14 C26.25,10.7275 24.976,7.651875 22.661625,5.338375 C22.3195,4.997125 22.3195,4.44325 22.661625,4.101125 C23.00375,3.759 23.55675,3.759 23.898875,4.101125 C26.544,6.7445 28,10.26025 28,14 C28,21.71925 21.71925,28 14,28 L14,28 Z"
                                      id="Shape"></path>
                                <path d="M14,14.875 C13.517,14.875 13.125,14.483 13.125,14 L13.125,7 C13.125,6.517 13.517,6.125 14,6.125 C14.483,6.125 14.875,6.517 14.875,7 L14.875,13.125 L18.375,13.125 C18.858875,13.125 19.25,13.517 19.25,14 C19.25,14.483 18.858875,14.875 18.375,14.875 L14,14.875 Z"
                                      id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p class="menu-link__title">Historique</p>
        </a>
    </li>
    <li class="menu__item">
        <a href="#path" class="menu-link is-active">
            <svg class="menu-link__logo" viewBox="0 0 45 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <title>Trajet</title>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-119.000000, -587.000000)">
                        <g id="Menu" transform="translate(0.000000, 574.000000)">
                            <g id="Trajet" transform="translate(123.000000, 15.000000)">
                                <path d="M6.12510145,15.5838261 C4.72388406,14.1826087 2.45182609,14.1813913 1.0506087,15.5830145 C-0.350608696,16.9842319 -0.349797101,19.2562899 1.05142029,20.6575072 L3.58846377,23.5946667 L6.12307246,20.6611594 C6.12428986,20.659942 6.12510145,20.6591304 6.12631884,20.6583188 C7.52753623,19.2571014 7.52672464,16.9850435 6.12510145,15.5838261 L6.12510145,15.5838261 Z M3.58846377,19.7351304 C2.69611594,19.7351304 1.97298551,19.0124058 1.97298551,18.1204638 C1.97298551,17.2297391 2.69611594,16.5057971 3.58846377,16.5057971 C4.48081159,16.5057971 5.20394203,17.2293333 5.20394203,18.1204638 C5.20394203,19.0124058 4.48081159,19.7351304 3.58846377,19.7351304 L3.58846377,19.7351304 Z"
                                      id="Shape"></path>
                                <path d="M35.4743768,1.15286957 C34.0731594,-0.248347826 31.8006957,-0.249565217 30.3994783,1.15205797 C28.9982609,2.55327536 28.9990725,4.82533333 30.4002899,6.22655072 L32.9373333,9.16371014 L35.471942,6.2302029 C35.4735652,6.22898551 35.4743768,6.22817391 35.4751884,6.22736232 C36.8764058,4.82614493 36.8755942,2.55408696 35.4743768,1.15286957 L35.4743768,1.15286957 Z M32.9373333,5.30376812 C32.0449855,5.30376812 31.3222609,4.58104348 31.3222609,3.68910145 C31.3222609,2.79837681 32.0449855,2.07443478 32.9373333,2.07443478 C33.8296812,2.07443478 34.5532174,2.79797101 34.5532174,3.68910145 C34.5532174,4.58104348 33.8296812,5.30376812 32.9373333,5.30376812 L32.9373333,5.30376812 Z"
                                      id="Shape"></path>
                                <path d="M3.5835942,27.6534493 C3.05768116,27.6534493 2.57275362,27.3097391 2.41652174,26.7801739 C2.2262029,26.1349565 2.59507246,25.458087 3.23988406,25.2677681 L20.4132174,20.2054493 L14.9386087,18.0535072 C14.4516522,17.861971 14.1416232,17.3815072 14.168,16.8588406 C14.1943768,16.3365797 14.5518841,15.8893913 15.0554783,15.7485797 L32.6086377,10.8323478 C33.2546667,10.6525797 33.9274783,11.0283478 34.1088696,11.6764058 C34.2902609,12.3236522 33.9124638,12.9952464 33.2656232,13.1770435 L19.2051594,17.1148986 L24.6063188,19.2372174 C25.0896232,19.4275362 25.3996522,19.9043478 25.3765217,20.4237681 C25.3533913,20.9431884 25.0031884,21.3911884 24.5048696,21.538087 L3.92852174,27.6031304 C3.81368116,27.6368116 3.69762319,27.6534493 3.5835942,27.6534493 L3.5835942,27.6534493 Z"
                                      id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p class="menu-link__title">Trajet</p>
        </a>
    </li>
    <li class="menu__item">
        <a href="#profile" class="menu-link">
            <svg class="menu-link__logo has-stroke" viewBox="0 0 40 37" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <title>User</title>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-197.000000, -586.000000)" stroke-width="3">
                        <g id="Menu" transform="translate(0.000000, 574.000000)">
                            <g id="User" transform="translate(202.000000, 15.000000)">
                                <path d="M0.0933333333,27.6266667 L0.0933333333,24.7333333 C0.0933333333,22.4933333 1.96,20.6266667 4.2,20.6266667 L25.6666667,20.6266667 C27.9066667,20.6266667 29.7733333,22.4933333 29.7733333,24.7333333 L29.7733333,27.5333333"
                                      id="Shape"></path>
                                <ellipse id="Oval" cx="14.9333333" cy="9.24" rx="8.96" ry="8.96"></ellipse>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p class="menu-link__title">Profil</p>
        </a>
    </li>
    <li class="menu__item">
        <a href="#settings" class="menu-link">
            <svg class="menu-link__logo" viewBox="0 0 36 37" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <title>Settings</title>
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home" transform="translate(-291.000000, -587.000000)">
                        <g id="Menu" transform="translate(0.000000, 574.000000)">
                            <g id="Settings" transform="translate(295.000000, 15.000000)">
                                <path d="M11.9736852,0.177923447 C11.4797947,0.208923396 11.1914045,0.526402876 11.0219308,0.896672269 L10.2697378,3.59979284 C9.79066274,3.76458257 9.33344239,3.96704724 8.88815888,4.19354186 L6.46272028,2.81854412 C6.08962765,2.60555447 5.58027818,2.67961435 5.28070274,2.99041884 L2.76315888,5.55291464 C2.46955186,5.85937413 2.40391888,6.3670833 2.60965011,6.74041269 L3.94517642,9.19353367 C3.72106835,9.64825292 3.52490133,10.1259771 3.36184309,10.6154063 L0.706141333,11.3966551 C0.304144842,11.5165999 0.00276168421,11.9234092 9.8245571e-07,12.3497585 L9.8245571e-07,15.9903975 C-0.00392884211,16.4219968 0.299227649,16.8377461 0.706141333,16.9591459 L3.36184309,17.7247447 C3.52527467,18.2169939 3.72001712,18.6894431 3.94517642,19.1466423 L2.60965011,21.5997383 C2.40391888,21.9730877 2.46955186,22.4807869 2.76315888,22.7872364 L5.28070274,25.3497322 C5.58027818,25.6605317 6.08962765,25.7345815 6.46272028,25.5216319 L8.872808,24.1622341 C9.32122063,24.3909838 9.78699326,24.5742335 10.2697378,24.7403832 L11.0219308,27.4434787 C11.1356157,27.8633781 11.5457961,28.1798775 11.9736852,28.1778775 L15.5350887,28.1778775 C15.9629778,28.1778775 16.3731582,27.8633781 16.4868431,27.4434787 L17.2390361,24.7403832 C17.7217806,24.5742335 18.1875533,24.3909838 18.6359659,24.1622341 L21.0460536,25.5216319 C21.4191462,25.7345815 21.9284957,25.6605317 22.2280712,25.3497322 L24.745615,22.7872364 C25.039222,22.4807869 25.104855,21.9730877 24.8991238,21.5997383 L23.5635975,19.1466423 C23.7887568,18.6894431 23.9834992,18.2169939 24.1469308,17.7247447 L26.8026326,16.9591459 C27.2095462,16.8377461 27.5125996,16.4219968 27.5087729,15.9903975 L27.5087729,12.3497585 C27.5058255,11.9234092 27.2046291,11.5165999 26.8026326,11.3966551 L24.1469308,10.6154063 C23.9838726,10.1259771 23.7877055,9.64825292 23.5635975,9.19353367 L24.8991238,6.74041269 C25.104855,6.3670833 25.039222,5.85937413 24.745615,5.55291464 L22.2280712,2.99041884 C21.9284957,2.67961435 21.4191462,2.60555447 21.0460536,2.81854412 L18.620615,4.19354186 C18.1753315,3.96704724 17.7181112,3.76458257 17.2390361,3.59979284 L16.4868431,0.896672269 C16.367568,0.482492948 15.9591069,0.174028453 15.5350887,0.177923447 L11.9736852,0.177923447 L11.9736852,0.177923447 Z M12.7105273,2.17792017 L14.7982466,2.17792017 L15.4736852,4.5997912 C15.5675884,4.92888066 15.8391343,5.19913022 16.1644747,5.28729007 C16.8886382,5.49034474 17.5768634,5.78897425 18.2214922,6.16228864 C18.5148978,6.33112336 18.8951919,6.33112336 19.1885975,6.16228864 L21.3530712,4.92791566 L22.8267554,6.4279132 L21.6140361,8.64665956 C21.4527905,8.94796907 21.4588424,9.33507843 21.6293624,9.63103295 C21.996128,10.2871619 22.2741533,10.9876757 22.4736606,11.7247595 C22.5675638,12.053859 22.8391098,12.3241085 23.1644501,12.4122584 L25.5438606,13.1154022 L25.5438606,15.2247488 L23.1644747,15.9278976 C22.835568,16.0187975 22.5629806,16.296247 22.4736852,16.6309965 C22.2741778,17.3681453 21.9961526,18.0529941 21.6293869,18.7091431 C21.4588326,19.0050926 21.4527708,19.3921919 21.6140606,19.6934915 L22.8267799,21.9122378 L21.3530957,23.4122354 L19.1885975,22.1778874 C18.8951919,22.0090377 18.5148978,22.0090377 18.2214922,22.1778874 C17.5768634,22.5511868 16.8886382,22.8498363 16.1644747,23.0528859 C15.8391343,23.1410358 15.5675884,23.4112854 15.4736852,23.7403848 L14.7982466,26.1778808 L12.7105273,26.1778808 L12.0350887,23.7403848 C11.9411855,23.4112854 11.6696396,23.1410358 11.3442992,23.0528859 C10.6201308,22.8498363 9.93192028,22.5511868 9.28728168,22.1778874 C8.99387607,22.0090377 8.61358204,22.0090377 8.32017642,22.1778874 L6.15570274,23.4122354 L4.68201853,21.9122378 L5.89473782,19.6934915 C6.05598344,19.3921919 6.04993151,19.0050926 5.87941151,18.7091431 C5.51264589,18.0529941 5.23462063,17.3681453 5.03511326,16.6309965 C4.94581782,16.296247 4.67323046,16.0187975 4.34432379,15.9278976 L1.96491326,15.2247488 L1.96491326,13.1154022 L4.34429923,12.4122584 C4.66963958,12.3241085 4.94118554,12.053859 5.0350887,11.7247595 C5.23459607,10.9876757 5.51262133,10.2871619 5.87938695,9.63103295 C6.04994133,9.33507843 6.05600309,8.94797407 5.89471326,8.64665956 L4.68199396,6.4279132 L6.15567818,4.92791566 L8.32015186,6.16228864 C8.61355747,6.33112336 8.99385151,6.33112336 9.28725712,6.16228864 C9.93189081,5.78897425 10.6201062,5.49034474 11.3442747,5.28729007 C11.669615,5.19913022 11.941161,4.92888066 12.0350641,4.5997912 L12.7105273,2.17792017 L12.7105273,2.17792017 Z M13.7543869,8.17791033 C10.5104494,8.17791033 7.85965011,10.8760609 7.85965011,14.1779005 C7.85965011,17.4797451 10.5104494,20.1778907 13.7543869,20.1778907 C16.9983245,20.1778907 19.6491238,17.4797451 19.6491238,14.1779005 C19.6491238,10.8760609 16.9983245,8.17791033 13.7543869,8.17791033 L13.7543869,8.17791033 Z M13.7543869,10.1779071 C15.9363975,10.1779071 17.6842115,11.9569591 17.6842115,14.1779005 C17.6842115,16.3988469 15.9363975,18.1778939 13.7543869,18.1778939 C11.5723764,18.1778939 9.82456239,16.3988469 9.82456239,14.1779005 C9.82456239,11.9569591 11.5723764,10.1779071 13.7543869,10.1779071 L13.7543869,10.1779071 Z"
                                      id="Shape"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p class="menu-link__title">Paramètres</p>
        </a>
    </li>
</ul>
