<div class="page page--path-detail">
    <div id="modalWrapper"></div>
    <div class="page__map" id="pathMap"></div>
    <div class="path">
        <h1 class="path__remaining"><strong id="remainingBooking"><%= remainingBooking %></strong> Place(s) restante(s)
        </h1>
        <p class="path__date"><%= new Date(path.date).toLocaleDateString() + ' ' + new
            Date(path.date).toLocaleTimeString().substring(0,5) %></p>
        <p class="path__adress">Départ : <strong><%= path.start.adress %></strong></p>
        <p class="path__adress">Arrivé : <strong><%= path.end.adress %></strong></p>
        <div class="btn-wrapper">
            <a href="#" id="pathBookBtn" class="btn">Reserver ce trajet</a>
        </div>
    </div>
</div>
