<article class="page page--profile">
    <header class="profile-header">
        <img class="profile-header__picture" src="images/user-white.svg" alt="<%= firstname + ' ' + lastname %>">
        <h1 class="profile-header__title"><%= firstname + ' ' + lastname %></h1>
        <p class="profile-header__subtitle">Peticletteur en herbe</p>
    </header>
    <main class="profile-content">
        <h2 class="profile-content__title">Mes enfants</h2>
        <ul class="children-list children-list--profile">
            <%
            var age;
            _.each(childrens, function(children) {
            age = (new Date(new Date() - new Date(children.birthdate).getTime())).getUTCFullYear() - 1970;
            %>

            <li class="children-list-item">
                <a href="#" class="children-list-item__remove" data-children-id="<%= children._id %>"></a>
                <p class="children-list-item__name"><%= children.firstname +=' ' %><%= children.lastname %></p>
                <p class="children-list-item__age"><%= age += ' ' %> ans</p>
            </li>
            <% }); %>
        </ul>
        <div class="btn-wrapper">
            <a href="#addChildren" class="btn">Ajouter un enfant</a>
        </div>
    </main>
    <div id="modalWrapper"></div>
</article>