<article class="page page--sign-in">
    <h1 class="page__title">Inscription</h1>
    <form class="form form--login" role="form">
        <div class="form-item">
            <div class="form-item__col">
                <input type="text" class="input input--text" name="firstname" id="firstname" placeholder="Prénom">
            </div>
            <div class="form-item__col">
                <input type="text" class="input input--text" name="lastname" id="lastname" placeholder="Nom">
            </div>
        </div>
        <div class="form-item">
            <input type="text" class="input input--text" name="login" id="login" placeholder="Pseudo">
        </div>
        <div class="form-item">
            <input type="password" class="input input--text" name="password" id="password"
                   placeholder="Mot de passe">
        </div>
        <div class="form-item">
            <input type="password" class="input input--text" name="passwordConfirm" id="passwordConfirm"
                   placeholder="Confirmation">
        </div>
        <p id="messageWrapper" class="form-message form-message__error"></p>
        <div class="form-item form-item--submit">
            <button type="submit" class="btn" id="signInBtn">Inscription</button>
        </div>
    </form>

    <a href="#login" class="page__informations">Connexion</a>
</article>