// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $white-off;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  outline: none;
  transform-origin: 50% 50%;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

*:focus {
  outline: none;
}

/**
 * Basic styles for links
 */
a {
  color: $text-color;
  text-decoration: none;
}
