// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Quicksand';
  src: font('quicksand-light-webfont.woff2') format('woff2'),
  font('quicksand-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font('quicksand-regular-webfont.woff2') format('woff2'),
  font('quicksand-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font('quicksand-medium-webfont.woff2') format('woff2'),
  font('quicksand-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: font('quicksand-bold-webfont.woff2') format('woff2'),
  font('quicksand-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

