// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  &--actions {
    justify-content: flex-end;

    .btn + .btn {
      margin-left: 6px;
    }
  }
}

.btn {
  display: inline-block;
  font: 500 normal 1.6rem/1.4 $text-font-stack;
  padding: 12px 44px;
  max-width: 100%;
  background: $primary-color;
  color: $white;
  font-weight: 700;
  border-radius: 25px;
  border: 0;

  &--s {
    font-size: 1.4rem;
    padding: 8px 22px;
  }

  &--dark {
    background-color: $dark-blue;
  }
}