.children-list {
  @extend .list-no-style;
  margin: 24px 0 46px;

  &--profile {
    .children-list-item {
      position: relative;
      padding-top: 24px;
      margin-top: 22px;

      &:before {
        @include pseudo;
        top: 0;
        left: 50%;
        height: 1px;
        width: 75%;
        background-color: $light-grey;
        transform: translate(-50%, 0);
      }

      &__name {
        font-weight: 700;
        font-size: 2rem;
        color: $light-grey;
      }

      &__remove {
        position: absolute;
        right: -14px;
        top: 16px;
        width: 44px;
        height: 44px;
        background: transparent image('close.svg') no-repeat center center / 14px;
      }

      &__age {
        position: relative;
        padding-left: 23px;
        margin: 4px 0 0;
        font-weight: 400;

        &:before {
          @include pseudo;
          left: 0;
          top: -1px;
          width: 15px;
          height: 20px;
          background: transparent image('birthday-cake.svg') no-repeat center center / contain;
        }
      }

      &:first-child {
        padding-top: 0;
        margin-top: 0;
        &:before {
          display: none;
        }

        .children-list-item__remove {
          top: -8px;
        }
      }
    }
  }
}

.children-list-item {
  &__link {
    display: block;
    padding: 8px 0;

    &.is-selected {
      .children-list-item__name-inner {
        &:after {
          transform: rotate(-45deg) scale(1) translateZ(0);
        }
      }
    }
  }

  &__name {
    margin: 0;
  }

  &__name-inner {
    padding: 0 16px;
    position: relative;

    &:after {
      @include pseudo;
      top: -8px;
      right: 0;
      width: 14px;
      height: 9px;
      border: 3px solid $dark-blue;
      border-right: 0;
      border-top: 0;
      transform-origin: 50% 50%;
      transform: rotate(-45deg) scale(0) translateZ(0);
      transition: transform 0.225s $t-easeOutBack;
    }
  }
}