.form-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & + & {
    margin-top: $gutter;
  }

  &__col {
    flex: 0 1 calc(50% - #{$gutter/2});
  }

  &--submit {
    justify-content: center;
    padding-top: 23px;
  }
}

.input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 40px;
  font: 500 normal 1.6rem/2.75 $text-font-stack;
  color: $text-color;
  transition: border-color 0.125s $t-easeOutQuad;

  &.has-error {
    border-color: $orange;
  }
}

.form-message {
  text-align: center;
  margin-top: 26px;
}