.menu {
  position: relative;
  z-index: 20;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.15s $t-easeOutQuad, visibility 0.15s $t-easeOutQuad;

  &__list {
    @extend .list-no-style;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }

  &__item {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
  }

  &.is-disabled {
    opacity: 0;
    visibility: hidden;
  }
}

.menu-link {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__title {
    text-decoration: none;
    text-align: center;
    margin: 2px 0 0;
    color: $light-grey;
    font-size: 1.2rem;
    transition: color 0.15s $t-easeOutQuad;
  }

  &__logo {
    height: 32px;

    g {
      stroke: $light-grey;
      fill: none;
      transition: stroke 0.15s $t-easeOutQuad, fill 0.15s $t-easeOutQuad;
    }

    &:not(.has-stroke) {
      g {
        fill: $light-grey;
      }
    }
  }

  &.is-active {
    .menu-link {
      &__title {
        color: $primary-color;
      }

      &__logo {
        g {
          stroke: $primary-color;
          fill: none;
        }

        &:not(.has-stroke) {
          g {
            fill: $primary-color;
          }
        }
      }
    }
  }
}