.modal {

  &__overlay {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 150vh;
    height: 150vh;
    border-radius: 50%;
    background: rgba($primary-color, 0.9);
  }

  &__inner {
    z-index: 25;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    border: solid 4px $white;
    background: $white-off;
    padding: 30px $gutter 35px;
    width: calc(100vw - #{2*$gutter});
  }

  &__title {
    font-size: 2.4rem;
    margin: 0;
  }

}