.page {
  width: 100%;
  height: 100%;

  &--path-detail {
    position: relative;
  }

  &--add-children {
    padding: $gutter*2 $gutter 0;
  }

  &--settings {
    padding: $gutter*2 $gutter 0;

    .btn-wrapper {
      margin-top: 46px;
    }
  }

  &--login,
  &--sign-in {
    padding: $gutter*2 $gutter 0;

    .page__title {
      margin-bottom: 24px;
    }
  }

  &__map {
    width: 100%;
    height: 45vh;
  }

  &__title {
    text-align: left;
    font-size: 2.8rem;
    margin: 0;
  }

  &__informations {
    margin: 60px 0 80px;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: $dark-blue;
  }
}