.path-list {
  padding: 40px 0 60px;
}

.path-list-item {
  display: flex;
  flex-flow: column nowrap;

  &__link {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 $gutter;
    align-items: flex-start;
  }

  &__col {
    margin-right: 16px;
    &--content {
      flex-grow: 1;
      margin-right: 0;
    }

    &--date {
      align-self: flex-end;
      flex-shrink: 1;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__companion {
    margin: 0 0 6px;
    color: $light-grey;
    font-size: 2.4rem;
  }

  &__companion-picture {
    margin-top: 10px;
  }

  &__adress {
    margin: 0 0 2px;
    font-weight: 400;

    strong {
      font-weight: 500;
    }
  }

  &__adress:last-of-type {
    margin-bottom: 0;
  }

  &__date,
  &__time {
    margin: 0;
  }

  &__date {

  }

  &__time {
    font-weight: 400;
    color: $light-grey;
  }

  & + & {
    .path-list-item__link {
      position: relative;
      padding-top: 26px;
      margin-top: 28px;

      &:before {
        @include pseudo;
        top: 0;
        left: 50%;
        height: 1px;
        width: 75%;
        background-color: $light-grey;
        transform: translate(-50%, 0);
      }
    }
  }
}