.path {
  padding: $gutter $gutter 0;
  margin-bottom: 48px;

  &__remaining {
    margin: 0;
    font-weight: 400;
    font-size: 2.6rem;

    strong {
      font-weight: 500;
      color: $primary-color;
    }
  }

  &__date {
    margin: 12px 0;
    font-size: 2.4rem;
    font-weight: 500;
  }

  &__adress {
    margin: 0 0 2px;
    font-weight: 400;

    strong {
      font-weight: 500;
    }
  }

  &__adress:last-of-type {
    margin-bottom: 0;
  }

  .btn-wrapper {
    margin-top: 48px;
  }
}