.profile-header {
  background-color: $dark-blue;
  padding: $gutter;

  &__title,
  &__subtitle {
    color: $white;
  }

  &__title {
    font-size: 2.8rem;
    margin: 10px 0 8px;
  }

  &__subtitle {
    font-size: 1.4rem;
    margin: 0;
  }
}

.profile-content {
  padding: $gutter;

  &__title {
    margin: 0;
  }
}