<a class="path-list-item__link" href="#path/<%= _id %>">
    <div class="path-list-item__col path-list-item__col--content">
        <h2 class="path-list-item__companion"><%= companion %></h2>
        <p class="path-list-item__adress">
            Départ : <strong><%= start.adress %></strong>
        </p>
        <p class="path-list-item__adress">
            Arrivé : <strong><%= end.adress %></strong>
        </p>
    </div>
    <div class="path-list-item__col path-list-item__col--date">
        <p class="path-list-item__date"><%= new Date(date).toLocaleDateString() %></p>
        <p class="path-list-item__time"><%= new Date(date).toLocaleTimeString().substring(0,5) %></p>
    </div>
</a>
