.app {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  &.is-loading {
    pointer-events: none;
    &:before {
      z-index: 100;
      @include pseudo;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba($primary-color, 0.9);
    }
    &:after {
      content: '';
      z-index: 110;
      position: absolute;
      display: block;
      width: 175px;
      height: 175px;
      background: transparent image("loader.svg") no-repeat center center / contain;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      animation: pulse 0.4s infinite alternate both;
    }

    @keyframes pulse {
      from {
        transform: translate3d(-50%, -50%, 0) scale(1);
      }

      to {
        transform: translate3d(-50%, -50%, 0) scale(1.15);
      }
    }
  }
}

.content-wrapper {
  flex: 1 1 calc(100% - 66px);
  display: flex;
  flex-flow: column nowrap;
}

.content-inner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.menu {
  flex: 0 1 66px;
  background: $white-off;
  box-shadow: 0 0 4px 0 rgba($light-grey, 0.80);

  &.is-disabled {
    flex-basis: 0;
  }
}