<div id="modalInner" class="modal__inner">
    <h1 class="modal__title">Êtes-vous sur ?</h1>
    <p class="modal__content">Si vous retirez un enfant de cette liste, toutes ses participations aux différents trajets
        seront annulées</p>
    <div class="btn-wrapper btn-wrapper--actions">
        <a href="#" id="cancelBtn" class="btn btn--s btn--dark">Annuler</a>
        <a href="#" id="deleteBtn" class="btn btn--s">Supprimer</a>
    </div>
</div>
<div id="modalOverlay" class="modal__overlay"></div>