// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Quicksand', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

///Colors
$primary-color: #F95C7A;

$white: #fff;
$white-off: #F4F3EF;

$light-blue: #25B8B8;
$dark-blue: #293544;

$orange: #DB613A;

/// Light grey
/// @type Color
$light-grey: #9B9B9B;

/// Medium grey
/// @type Color
$mid-grey: #4A4A4A !default;

/// Dark grey
/// @type Color
$dark-grey: #222222 !default;

/// Copy text color
/// @type Color
$text-color: $dark-grey;

/// Transitions
$t-easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$t-easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
$gutter: 23px;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../' !default;
